<ion-item>
  <ion-thumbnail slot="start">
    <img [src]="item?.itemImage ? item.itemImage: 'assets/images/categories/drinks2.jpg'" alt="">
  </ion-thumbnail>

  <ion-label>
    <h4>{{item?.itemName}}</h4>
    <p class="ion-text-wrap">{{item?.itemDesc}}</p>
    <ion-text><p>R {{item?.itemPrice | number: '0.2-2'}}</p></ion-text>
  </ion-label>

  <ion-row *ngIf="!item?.quantity || item?.quantity <= 0" (click)="quantityPlus()">
    <ion-text class="add" color="success">Add</ion-text>
  </ion-row>

  <ion-row *ngIf="item?.quantity > 0">
    <ion-icon color="danger" name="remove-outline" (click)="quantityMinus()"></ion-icon>
    <ion-text class="ion-text-center quantity" color="dark">{{item?.quantity}}</ion-text>
    <ion-icon color="success" name="add-outline" (click)="quantityPlus()"></ion-icon>
  </ion-row>
</ion-item>
